h1 {
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 50px;
    opacity: 1;
}
.center2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
    opacity: 1;
}
.header {
    height: 250px;
    background-image: url(https://cdn.shazoo.ru/c576x256/532906_nM3qwlUtDU_caves.jpg);
    opacity: 0.7;
}
header {
    background-color: rgb(225, 228, 156);;
}
html {
    background-color: rgb(225, 228, 156);
}
main {
    background-color: rgb(225, 228, 156);
}
.main {
    font-size: 30px;
    margin: 10px 0px 30px 0px;
    width: 47%;
    text-align: center;
    float: center;
    position: relative;
    left: 400px;
}
.img1 {
    width: 45%;
    height: 92%;
}
.img2 {
    position: absolute;
    width: 50%;
    height: 44%;
    top: 651px;
    left: 720px;
}
.img3 {
    position: absolute;
    width: 50%;
    height: 44%;
    top: 1016px;
    left: 720px;
}
.Miri {
    margin: 0;
    text-align: center;
    font-size: 40px;
}
.Miri::before {
    content: "❗"
}
.Miri::after {
    content: "❗"
}
.Miri:hover {
    opacity: 0.5;
}
.paragr1 {
    font-size: 30px;
    width: 650px;
    margin: 5px 0px 10px 30px;
}
.paragr2 {
    font-size: 30px;
    width: 825px;
    margin: 5px 0px 10px 100px;
    position: absolute;
    top: 1355px;
    left: 620px;
}
footer {
    background-color: rgb(225, 228, 156);
    height: 70px;
}
.foot {
    color: black;
    padding: 0px 114px 0px 114px;
    font-size: 30px;
    text-align: center;
    border: 15px solid black;
}
.block1 {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 400px;
    left: 60px;
}
.block2 {
    opacity: 0;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 400px;
    left: 60px;
}
.block1:hover {
    opacity: 0px;
}
.block2:hover {
    opacity: 1;
}
.foot:hover {
    opacity: 0.7;
}
